@using ValidacaoExcecoes.Application.Models.UserModels
@model List<UserViewModel>
@if (TempData["MessagemSucesso"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="color: black;">
        @TempData["MessagemSucesso"]
    </div>
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="color: black;">
        Erro ao realizar ação
    </div>
}
<div>
    <h2>
        Usuarios
    </h2>
    <hr />
</div>

<div class="container">
    <div class="row">
        @foreach (var usuario in Model)
        {
            <div class="card" style="width: 23rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">@usuario.Nome</h5>
                    <p class="card-text">Email: @usuario.Email</p>
                    <p class="card-text">CPF: @usuario.CPF</p>
                    <p class="card-text">Data de Nascimento: @usuario.DataNascimento</p>
                </div>
            </div>
        }
    </div>
</div>

<script>
    setTimeout(function () {
        let alert = document.querySelector(".alert");
        if (alert) {
            let bsAlert = new bootstrap.Alert(alert);
            bsAlert.close();
        }
    }, 5000);
</script>